
.pad
{
    padding-left: 20%;
    
}
.pad1
{
    margin-inline: 5%;
 }
@media (min-width: 992px) {
    .pad1 {
        margin-left: 20%;
    }
}

.lead
{
    text-align: justify;
}

.hd
{
    height: 100px;
}

.back
{
    background-image: url(floresta.jpg);
}

.border-3
{
    border-style: ridge;
}

.x
{
    height: 600px;
}
@media (min-width: 1500px) {
    .x
{
    height: 400px;
}
}
@media (min-width: 1350px) {
    .x
{
    height: 500px;
}
.x1
{
    height: 400px;
}
}
.fixed
{
    position: fixed;
    top: 11%;
    right: 15%;
}
.imag
{
    width: 350px;
    height: 400px;
}
.alt
{
    height: 25%;
}

a
{
    text-decoration: none;
}
.nav-link
{
    color: white;
}
.preto
{
    background-color: black;
    color: white;
}
.azul
{
    background-color: rgb(181, 214, 203);
}
.cinza
{
    background-color: rgb(204, 204, 204);
}
.border
{
    border-color: black;
}
.margemc
{
    display: block;
    margin-left: auto; 
    margin-right: auto;
}
